.MuiContainer-root {
  background-color: rgb(18, 18, 18);
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
}
.MuiTypography-root {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}
.end button {
  color: white;
  border: 1px solid white;
}
.end button:hover {
  color: white;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgba(144, 202, 249, 0.08);
}
body {
  background-color: rgb(27, 27, 27);
}
ul {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.333%;
  padding-left: 0;
  justify-content: center;
  background-color: rgb(27, 27, 27);
}
ul .MuiGrid-root {
  flex: 0 0 32.333333%;
  margin: .25rem;
}
ul .MuiPaper-root {
  color: white;
  /* border: 1px solid white; */
  background: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
}